<h1>Feeds</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Content</th>
  </tr>
  <% for feed in @feeds %>
    <tr>
      <td><%=h feed.title %></td>
      <td><%=h feed.author %></td>
      <td><%=h feed.content %></td>
      <td><%= link_to "Show", feed %></td>
      <td><%= link_to "Edit", edit_feed_path(feed) %></td>
      <td><%= link_to "Destroy", feed, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Feed", new_feed_path %></p>
