<h1>Feed</h1>

<p>
  <strong>Title:</strong>
  <%=h @feed.title %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @feed.author %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @feed.content %>
</p>

<% if signed_in?  %>
	<% if current_user.admin? %>
		<p>
  			<%= link_to "Edit", edit_feed_path(@feed) %> |
  			<%= link_to "Destroy", @feed, :confirm => 'Are you sure?', :method => :delete %> |
		</p>
	<% end %>
<% end %>
