<% form_for @store do |f| %>
<% fields_for(@user) do |u| %>
<%= render :partial => "user_details", :locals => {:u => u} %>
<p>
	<%= u.label :password %><br />
	<%= u.password_field :password %>
  </p>

<p>
	<%= u.label :password_confirmation, "Confirm your password" %><br />
	<%= u.password_field :password_confirmation %>
</p>
<% end %>

<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<p><%= link_to "Back to List", stores_path %></p>
