<% form_tag set_price_for_product_stores_path, :method => :put do %>
	<table>

		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	<% @store.products.each do |product|  %>
	<% price = @store.storeproducts.find_by_product_id(product.id).price %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			    <td><%= text_field_tag "prices[]", "#{price}" %></td>
			  	
				<%= hidden_field_tag "product_ids[]", "#{product.id}" %>
			<% end %>
			</td>
		</tr>
	</table>
	<%= hidden_field_tag "store_id", "#{current_user.userable.id}" %>
	<%= submit_tag "Set price" %>
<% end %>

