<h1>Sign In</h1>
<% form_for @user do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<p>
	<%= f.label :password %><br />
	<%= f.password_field :password %>
  </p>

<p>
	<%= f.label :password_confirmation, "Confirm your password" %><br />
	<%= f.password_field :password_confirmation %>
  </p>
<p><%= f.submit %></p>
<% end %>

<p><%= link_to "Back to List", users_path %></p>
