<h1>Your shopping cart contents</h1>

<h3>You have <%= pluralize(@cart.all_items, "item") %> in the cart</h3>

<ul>
	<% for item in @cart.items %>
		<li><%=h item.name.titleize %><%= button_to "Remove from cart", :action => 'remove_from_cart', :id => item.id %></li>
			<% item.stores.each do |is| %>
				<%=h is.user.name.titleize  %> - <%=h is.storeproducts.find_by_product_id(item.id).price %><br />
			<% end %>
		<% end %>
</ul>

<%= button_to 'Empty cart', :action => 'empty_cart' %>