<h1>Products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Category</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%=h product.name %></td>
      <td><%=h product.description %></td>
	  <td><%=h product.category.name %></td>
      <td><%= link_to "Show", product %></td>
	<% if signed_in? %>
		<% if current_user.admin?  %>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
      <td><%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	<% end %>
	
	<% if @cart.find_item(product) %>  
		<td><%= button_to "Remove from cart", :action => 'remove_from_cart', :id => product %></td>
	<% else  %>
		<td><%= button_to "Add to cart", :action => 'add_to_cart', :id => product %></td>
	<% end %>
	
	<% if signed_in?  %>
		<% unless current_user.userable_id.nil? %>
			<td><%= button_to "Add to store", :action => "add_product_to_store", :product => product, :store => current_user.userable_id %></td>
		<% end %>
	<% end %>
    </tr>
  <% end %>
</table>

<% if signed_in? %>
	<% if current_user.admin?  %>
<p><%= link_to "New Product", new_product_path %></p>
	<% end %>
<% end %>